WinMef730/Service References/ServiceReference1/RicevutaPdf730Service_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ricevutapdf.p730.sanita.sogei.it/" targetNamespace="http://ricevutapdf.p730.sanita.sogei.it/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RicevutaPdf" type="tns:RicevutaPdf" />
  <xs:element name="RicevutaPdfResponse" type="tns:RicevutaPdfResponse" />
  <xs:element name="datiInput" type="tns:datiInput" />
  <xs:element name="datiOutput" type="tns:datiOutput" />
  <xs:complexType name="dettaglioEsitoNegativo">
    <xs:sequence>
      <xs:element name="codice" type="xs:string" />
      <xs:element name="descrizione" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dettaglioEsitoPositivo">
    <xs:sequence>
      <xs:element name="pdf" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="datiOutput">
    <xs:sequence>
      <xs:element name="esitoChiamata" type="xs:string" />
      <xs:element minOccurs="0" name="esitiPositivi" type="tns:esitiPositivi" />
      <xs:element minOccurs="0" name="esitiNegativi" type="tns:esitiNegativi" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esitiPositivi">
    <xs:sequence>
      <xs:element name="dettagliEsito" type="tns:dettaglioEsitoPositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esitiNegativi">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="dettaglioEsitoNegativo" type="tns:dettaglioEsitoNegativo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="datiInput">
    <xs:sequence>
      <xs:element name="pinCode" type="xs:string" />
      <xs:element minOccurs="0" name="protocollo" type="xs:string" />
      <xs:element minOccurs="0" name="opzionale1" type="xs:string" />
      <xs:element minOccurs="0" name="opzionale2" type="xs:string" />
      <xs:element minOccurs="0" name="opzionale3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RicevutaPdfResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatiOutputRichiesta" type="tns:datiOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RicevutaPdf">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatiInputRichiesta" type="tns:datiInput" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>